<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebSite Classifier</title>
  </head>
  <body>
    <h1>Demo test</h1>
    <form action="" method="POST">
      <div>
        <label for="sheetlink">Enter the sheet url</label>
        <textarea name="sheetlink" id="sheetlink"></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>